table, th, td {
  
  border-collapse: collapse;
  text-align: center;
  
}
table td {
border-left: 1px solid #FFF;
border-right: 1px solid #FFF;
}
table th {
border-left: 1px solid #FFF;
border-right: 1px solid #FFF;
}



.blue {
  color: #34495E;
  font-size: 20px;
  font-weight: bold;
}
.peoplename{
text-align:left;
 background-color: #34495E;
color: #ffffff;
text-align: center;

}
th {
  background-color: #34495E;
  color: #ffffff;
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}


a:hover, a:link, a:active, a:visited{
  color:#fff;
}

#left {
  float: left;
  width: 65%;
  overflow: hidden;
  margin:auto;
}

#right {
  overflow: hidden;
  text-align:center;
}

