table, th, td {  
  border-collapse: collapse;
  text-align: center; 
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF; 
}

table{
  width:100%;
}

table th {
  background-color: #34495E;
  color: #ffffff;
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}

.peopleName{
  text-align:left;
  background-color: #34495E;
  color: #ffffff;
  text-align: center;
}

a:hover, a:link, a:active, a:visited{
  color:#fff;
}

.link-black{
  color:black !important;
}

textarea{
  width:98%;
}

.column-left {
  float: left;
  width: 65%;
  overflow: hidden;
  margin:auto;
}

.column-right {
  overflow: hidden;
  text-align:center;
}

.main-comments {
  width:85%;
  margin:auto;
  position:relative;
  display:table;
  top:20px;
}

.footer{
  margin:0 auto;
  width:100%;
  text-align:center;
}

.main{
  margin:auto;
  width:85%;
}

.cell-comments{
 text-align:left;
}

.cell-datetime{
  width:180px; 
}
