table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}
.blue {
  color: #003366;
  font-size: 20px;
  font-weight: bold;
}
.peoplename{
text-align:left;


}
th {
  background-color: #003366;
  color: #ffffff;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


a:hover, a:link, a:active, a:visited{
  color:#fff;
}